@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  /* Neutral */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #000000;

  /* Pink */
  --color-pink-50: #fff3fe;
  --color-pink-100: #ffe7fe;
  --color-pink-200: #ffcefe;
  --color-pink-300: #ffa7f9;
  --color-pink-400: #ff6ef4;
  --color-pink-500: #f73ee8;
  --color-pink-600: #db1ec9;
  --color-pink-700: #b615a2;
  --color-pink-800: #951384;
  --color-pink-900: #791669;

  /* Yellow */
  --color-yellow-50: #feffe5;
  --color-yellow-100: #f9ffc7;
  --color-yellow-200: #f2ff95;
  --color-yellow-300: #e6fe5e;
  --color-yellow-400: #d4f526;
  --color-yellow-500: #b5db07;
  --color-yellow-600: #8db000;
  --color-yellow-700: #698506;
  --color-yellow-800: #54690b;
  --color-yellow-900: #46580f;

  /*Typografi */
  --font-heading: "Inter", sans-serif;
  --font-quote: "ador-hairline", sans-serif;
  --font-weight-quote: weight-900;
  --font-body: "Inter", sans-serif;

  --text-mobile-h1: 48px;
  --text-mobile-h2: 38px;
  --text-mobile-h3: 24px;
  --text-mobile-h4: 20px;
  --text-mobile-p: 16px;
  --text-mobile-quote: 65px;

  --text-desktop-h1: 105px;
  --text-desktop-h2: 80px;
  --text-desktop-h3: 36px;
  --text-desktop-h4: 24px;
  --text-desktop-p: 18px;
  --text-desktop-quote: 160px;

  /* CTA */
  --text-cta-large: 20px;
  --text-cta-small: 16px;

  /* Tokens */

  /* Color Tokens */
  /* Cards */
  --color-cards-primary: var(--color-neutral-900);
  --color-cards-secondary: var(--color-yellow-300);
  --color-cards-tertiary: var(--color-pink-400);

  /* Text */
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-50);
  --color-text-tertiary: var(--color-pink-400);
  --color-text-quaternary: var(--color-yellow-300);
  --color-text-placeholder: var(--color-neutral-400);

  /* Button text */
  --color-text-button-primary: var(--color-neutral-900);
  --color-text-button-secondary: var(--color-neutral-50);

  /* Body */
  --color-body-primary: var(--color-neutral-50);
  --color-body-secondary: var(--color-yellow-300);
  --color-body-tertiary: var(--color-pink-400);

  /* Footer */
  --color-footer-primary: var(--color-neutral-900);

  /* Hero */
  --color-hero-primary: var(--color-neutral-900);

  /* Focus */
  --color-focus-primary: var(--color-yellow-300);

  /* Buttons */
  --color-button-primary-default: var(--color-yellow-300);
  --color-button-primary-active: var(--color-yellow-200);
  --color-button-primary-hover: var(--color-yellow-400);

  --color-button-secondary-default: var(--color-neutral-800);
  --color-button-secondary-active: var(--color-neutral-500);
  --color-button-secondary-hover: var(--color-neutral-50);

  --color-button-tertiary-default: var(--color-pink-400);
  --color-button-tertiary-active: var(--color-pink-300);
  --color-button-tertiary-hover: var(--color-pink-500);

  --color-button-quaternary-default: var(--color-neutral-50);
  --color-button-quaternary-active: var(--color-pink-300);
  --color-button-quaternary-hover: var(--color-neutral-100);
}

@layer base {
}

@layer components {
}

@layer utilities {
}
