@import "tailwindcss";

@plugin '@tailwindcss/typography';
@plugin '@tailwindcss/forms';
@import "tailwindcss-animated";
@import "tailwindcss-intersect";

@font-face {
  font-family: "Honk";
  src: url("/fonts/Honk-Regular-VariableFont_MORF,SHLN.ttf") format("truetype");
}

@font-face {
  font-family: "Quicksand";
  src: url("/fonts/Quicksand-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family: "Domine";
  src: url("/fonts/Domine-Regular.ttf") format("truetype");
}

@theme {
  /* Her tilføjes theme variable // tokens */

  /*Farver */
  /* Neutral */
  --color-neutral-50: #ffffff;
  --color-neutral-100: #f5f5f5;
  --color-neutral-200: #e5e5e5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-600: #525252;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #000000;

  /* Pink */
  --color-pink-50: #fff3fe;
  --color-pink-100: #ffe7fe;
  --color-pink-200: #ffcefe;
  --color-pink-300: #ffa7f9;
  --color-pink-400: #ff6ef4;
  --color-pink-500: #f73ee8;
  --color-pink-600: #db1ec9;
  --color-pink-700: #b615a2;
  --color-pink-800: #951384;
  --color-pink-900: #791669;

  /* Yellow */
  --color-yellow-50: #feffe5;
  --color-yellow-100: #f9ffc7;
  --color-yellow-200: #f2ff95;
  --color-yellow-300: #e6fe5e;
  --color-yellow-400: #d4f526;
  --color-yellow-500: #b5db07;
  --color-yellow-600: #8db000;
  --color-yellow-700: #698506;
  --color-yellow-800: #54690b;
  --color-yellow-900: #46580f;

  /*Typografi */
  --font-heading: "Inter", sans-serif;
  --font-quote: "ador-hairline", sans-serif;
  --font-weight-quote: weight-900;
  --font-body: "Inter", sans-serif;

  --text-mobile-h1: 48px;
  --text-mobile-h2: 38px;
  --text-mobile-h3: 24px;
  --text-mobile-h4: 20px;
  --text-mobile-h5: 18px;
  --text-mobile-p: 16px;
  --text-mobile-quote: 65px;
  --text-mobile-hero: 100px;

  --text-desktop-h1: 105px;
  --text-desktop-h2: 80px;
  --text-desktop-h3: 36px;
  --text-desktop-h4: 24px;
  --text-desktop-h5: 20px;
  --text-desktop-p: 18px;
  --text-desktop-quote: 160px;
  --text-desktop-hero: 350px;

  /* CTA */
  --text-cta-large: 20px;
  --text-cta-small: 16px;

  /* Ligestillning card */
  --text-card-heading: 10cqw;
  --text-card-p: 6cqw;

  /* Tokens */

  /* Color Tokens */
  /* Cards */
  --color-cards-primary: var(--color-neutral-900);
  --color-cards-secondary: var(--color-yellow-300);
  --color-cards-tertiary: var(--color-pink-400);

  /* Text */
  --color-text-primary: var(--color-neutral-900);
  --color-text-secondary: var(--color-neutral-50);
  --color-text-tertiary: var(--color-pink-400);
  --color-text-quaternary: var(--color-yellow-300);
  --color-text-placeholder: var(--color-neutral-400);

  /* Button text */
  --color-text-button-primary: var(--color-neutral-900);
  --color-text-button-secondary: var(--color-neutral-50);

  /* Body */
  --color-body-primary: var(--color-neutral-50);
  --color-body-secondary: var(--color-yellow-300);
  --color-body-tertiary: var(--color-pink-400);

  /* Footer */
  --color-footer-primary: var(--color-neutral-900);

  /* Hero */
  --color-hero-primary: var(--color-neutral-900);

  /* Focus */
  --color-focus-primary: var(--color-yellow-300);

  /* Buttons */
  --color-button-primary-default: var(--color-yellow-300);
  --color-button-primary-active: var(--color-yellow-200);
  --color-button-primary-hover: var(--color-yellow-400);

  --color-button-secondary-default: var(--color-neutral-800);
  --color-button-secondary-active: var(--color-neutral-500);
  --color-button-secondary-hover: var(--color-neutral-50);

  --color-button-tertiary-default: var(--color-pink-400);
  --color-button-tertiary-active: var(--color-pink-300);
  --color-button-tertiary-hover: var(--color-pink-500);

  --color-button-quaternary-default: var(--color-neutral-50);
  --color-button-quaternary-active: var(--color-pink-300);
  --color-button-quaternary-hover: var(--color-neutral-100);

  /* Spacing tokens */
  --spacing-section-mobile: 112px;
  --spacing-section-desktop: 224px;
  --spacing-main-top-desktop: 112px;
  --spacing-main-top-mobile: 64px;

  --spacing-section-padding: 112px;

  --spacing-margin-desktop: 130px;
  --spacing-margin-mobile: 50px;

  --spacing-h2-mobile: 40px;
  --spacing-h2-desktop: 48px;

  --spacing-h2-image-mobile: 64px;
  --spacing-h2-image-desktop: 80px;

  --spacing-h3-mobile: 14px;
  --spacing-h3-desktop: 20px;

  --spacing-p-mobile: 20px;
  --spacing-p-desktop: 24px;

  --spacing-button-large: 16px 28px;
  --spacing-button-small: 12px 20px;

  --spacing-grid-gap-mobile: 48px;
  --spacing-grid-gap-desktop: 54px;
  --spacing-grid-gap-small: 20px;

  --spacing-card: 48px 48px;
  --spacing-card-image-offset: 40px;

  --spacing-input: 12px 16px;

  /* Animation tokens */
  --animate-bounce-twice: bounceout 0.5s ease-out;
}

@layer base {
}

@layer components {
}

@layer utilities {
  @keyframes bounceout {
    0% {
      transform: scale(1);
    }

    40% {
      transform: scale(1.15);
    }

    100% {
      transform: scale(1);
    }
  }
}

@layer utilities {
  /* TEKST: slide fra høyre */
  @keyframes slide-in-text {
    0% {
      transform: translate(100%, -35%);
    }
    100% {
      transform: translate(-45%, -35%);
    }
  }

  .animate-slide-in-text {
    animation: slide-in-text 5000ms ease-out forwards;
  }

  /* BILDER: pop inn */
  @keyframes pop-in {
    0% {
      opacity: 0;
      transform: scale(0.9);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }

  .animate-pop-1 {
    animation: pop-in 800ms ease-out forwards;
    animation-delay: 5200ms;
  }

  .animate-pop-2 {
    animation: pop-in 800ms ease-out forwards;
    animation-delay: 5600ms;
  }

  .animate-pop-3 {
    animation: pop-in 800ms ease-out forwards;
    animation-delay: 6000ms;
  }

  /* TEKST: fade inn */
  @keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  .animate-fade-in {
    animation: fade-in 1000ms ease-out forwards;
    animation-delay: 6800ms;
  }
}
