---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Herosecondary from "../components/Herosecondary.astro";
import Quote from "../components/Quote.astro";
import Bubble from "../components/Bubble.astro";
---

<MainLayout title="Kalder alle unge">
  <main>
    <section>
      <Herosecondary
        herotitle="VIDEN OM LIGESTILLING"
        herotext_1="Samtaler om ligestilling kan være fyldt med myter og påstande. Derfor har vi udviklet en række videnspakker, hvor du finder viden om ligestillingsemner som abort, feminisme, LGBTQ+ og meget mere."
        herotext_2="KALDER ALLE UNGEs videnspakker er baseret på viden frem for holdninger, og giver dig pålidelig og faktabaseret indsigt. Emnerne er udvalgt på baggrund af over 800 unges interesser indenfor ligestilling."
      />
    </section>
    <section class="lg:mx-32 mx-12 mt-28">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> HVAD ER FEMINISME?</Heading>
        <div class="mt-4 max-w-1/2">
          <Text> Feminisme handler om troen på, at alle mennesker skal have de samme muligheder — og om kampen for at fjerne de strukturer, der står i vejen. Det er både en historisk bevægelse og en nutidig kamp for reel ligestilling. </Text>
        </div>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-3 md:gap-10">
        <!-- Kolonne 1 -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold"> Feminisme historisk </Heading>

          <div class="mt-4 space-y-4">
            <Text teksttype="brødttekst"> Feminisme begyndte som en kamp for rettigheder. I 1800-tallet og begyndelsen af 1900-tallet kæmpede feminister for kvinders adgang til uddannelse, arbejde og politisk deltagelse. </Text>

            <Text teksttype="brødttekst"> Modstanden byggede ofte på “biologiske” argumenter, som fx idéen om at uddannelse kunne skade kvinders kroppe. </Text>

            <Text teksttype="brødttekst"> Disse tidlige kampe lagde fundamentet for den ligestilling, vi bygger videre på i dag. </Text>
          </div>
        </div>

        <!-- Kolonne 2 -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold"> Feminisme i dag </Heading>

          <div class="mt-4 space-y-4">
            <Text teksttype="brødttekst"> Nutidens feminisme favner bredere. I dag handler feminisme om reel ligestilling på tværs af køn, identitet, etnicitet, seksualitet og social baggrund. </Text>

            <Text teksttype="brødttekst"> Feminister peger også på, hvordan mænd og drenge møder egne ligestillingsudfordringer, og hvordan normer påvirker alle. </Text>

            <Text teksttype="brødttekst"> Kampen er derfor både social, kulturel og politisk — og mere inkluderende end nogensinde.</Text>
          </div>
        </div>

        <!-- Kolonne 3 -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold"> Som bevægelse </Heading>

          <div class="mt-4 space-y-4">
            <Text teksttype="brødttekst"> Feminisme er ikke én samlet ideologi, men en bevægelse med mange retninger og perspektiver. </Text>

            <Text teksttype="brødttekst"> Fælles for dem er ønsket om reel ligestilling og en kritik af de strukturer, der giver magt og privilegier til nogle grupper frem for andre.</Text>

            <Text teksttype="brødttekst"> Som bevægelse arbejder feminisme for, at alle mennesker skal kunne leve frit — uden at blive begrænset af køn, normer eller forudfattede forventninger.</Text>
          </div>
        </div>
      </div>
    </section>

    <section class="lg:mx-32 mx-12 mt-28">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> HVORFOR HEDDER DET “FEMINISME”?</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Navnets historiske rødder </Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Ordet feminisme stammer fra det latinske “femina” (kvinde) og udspringer historisk af kampen mod den ulighed, kvinder oplevede. I dag rummer feminisme også kampen for minoriteters rettigheder, men navnet giver stadig mening, fordi
              bevægelsen grundlæggende handler om at modarbejde undertrykkelsen af det feminine.</Text
            >
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst"> Alle mennesker har både maskuline og feminine træk, men samfundets forståelse af, hvilke egenskaber der anses som værdifulde, afhænger ofte af biologisk køn. </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Maskulinitet forbindes traditionelt med styrke, handlekraft og rationalitet, mens femininitet forbindes med omsorg, følelser og svaghed. Det ses fx i, hvordan omsorgsfag (sygepleje, pædagogik, SOSU) opfattes som “kvindelige”, og
              politibetjente eller elektrikere som “mandlige” (Bloksgaard 2010).
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Kønsnormer og ulighed</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Kønsnormer er uskrevne regler for, hvordan mænd og kvinder “forventes” at være. De ændrer sig over tid – fx var pink engang en drengefarve (CNN 2018). Men fordi samfundet historisk er præget af patriarkalske magtstrukturer, værdsættes
              maskuline egenskaber ofte højere end feminine (Hofstede 1980).
            </Text>
          </div>

          <div class="mb-4">
            <Text teksttype="brødttekst"
              >Det ses tydeligt i debatten om omsorgsarbejde. Arbejde, der forbindes med femininitet, er både lavere lønnet og mindre anerkendt – både i hjemmet og i job som sygepleje, pædagogik og SOSU (Holten 2024).
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst"
              >Feminisme handler derfor også om at give feminine værdier som omsorg, følelser og sårbarhed højere status. Det betyder, at både mænd og kvinder skal kunne udtrykke disse egenskaber uden at blive set som svage eller mindre værd.
            </Text>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-yellow-300">
      <div class="lg:mx-32 mx-12 pt-28 pb-28 mt-28">
        <div class="mb-20">
          <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> FEMINISME = LIGESTILLING</Heading>
          <div class="mt-4">
            <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold"> En bevægelse for, at alle køn skal have de samme muligheder og rettigheder.</Heading>
          </div>
        </div>
        <div>
          <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> FEMINISME ≠ KAMP MOD MÆND</Heading>
          <div class="mt-4">
            <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold"> En bevægelse for, at alle køn skal have de samme muligheder og rettigheder.</Heading>
          </div>
        </div>
      </div>
    </section>
    <section class="lg:mx-32 mx-12 mt-28">
      <div><Quote>VIDSTE DU AT?</Quote></div>
      <div class="mt-12">
        <div class="md:w-1/2">
          <Bubble variant="left"><Heading htmlheading="h3" size="medium">"Der er flere administrerende direktører i Danmark med navnet Lars eller Peter end der er kvindelige administrerende direktører.”</Heading></Bubble>
        </div>
        <div class="mt-28 md:w-1/2 ml-auto">
          <Bubble variant="right"><Heading htmlheading="h3" size="medium">"Der er flere administrerende direktører i Danmark med navnet Lars eller Peter end der er kvindelige administrerende direktører.”</Heading></Bubble>
        </div>
      </div>
    </section>
    <section class="lg:mx-32 mx-12 mt-48">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> NORMKRITIK</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Som del af feminismen</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >For mange feminister er kampen for ligestilling også en kamp mod kønsstereotype normer. Normkritik betyder at udfordre og stille spørgsmålstegn ved de normer, der definerer, hvad der anses som passende eller naturligt i et samfund.</Text
            >
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Når feminister arbejder for at bryde kønsstereotyper, handler det om at udvide handlingsrummet for alle – ikke at afskaffe maskulinitet eller femininitet, men at gøre flere måder at være menneske på lige accepterede.
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Normer kan ændres, og det bliver de heldigvis også, men det kan tage lang tid og kræve mange kampe (LGBT+ Danmark 2025). Da kvinder og mænd kæmpede for kvinders ret til uddannelse og adgang til arbejdsmarkedet, udfordrede de normen om,
              at kvinders rolle var i hjemmet. Da feminister kæmpede for en samtykkelov, var det en kamp for at ændre samfundets syn på voldtægt og retten til at bestemme over egen krop.
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Når normer brydes </Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Normkritik betyder, som ordet antyder, at man kritiserer normerne, som ofte er usynlige spilleregler i samfundet. Man kan synliggøre dem ved at stille spørgsmålstegn ved måden, tingene bliver gjort på. Eller man kan bryde normerne ved
              f.eks. at gøre noget, der ligger udenfor normerne – f.eks. at en mand tager makeup på, eller en kvinde ikke fjerner hår på kroppen.
            </Text>
          </div>

          <div class="mb-4">
            <Text teksttype="brødttekst">Der findes ingen lov, der forbyder disse handlinger, men normerne gør, at det ofte bliver bemærket, kommenteret eller udskældt. </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst"
              >Det er lettere at følge normerne, da man typisk belønnes med anerkendelse og accept, mens normbrud kan føre til afvisning eller kritik (Lodahl 2018). Mennesker, der falder udenfor normen, f.eks. kønsminoriteter og seksuelle
              minoriteter, er oftest særligt udsatte for diskrimination eller vold. F.eks. kan homoseksuelle mænd opleve, at deres blotte eksistens bliver set som en trussel mod traditionel maskulinitet (KØN 2020).
            </Text>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row items-start justify-center mt-28 gap-10">
        <div class="flex justify-center md:justify-start w-full md:w-auto">
          <img src="/!.svg" alt="Udråbstegn" class="w-16 md:w-24 flex-shrink-0" />
        </div>
        <div class="max-w-2xl text-left">
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">
            I 2023 samlede organisationen Lev og Lad Leve 1000 personlige vidnesbyrd om hadforbrydelser i bogen “Stop Hadet Nu”. Fortællingerne dokumenterer, hvordan personer, der bryder med kønsnormer, risikerer at blive råbt af, truet eller
            overfaldet, når man som mand f.eks. har makeup på i det offentlige rum (Stop Hadet Nu 2023).
          </Heading>
        </div>
      </div>
    </section>
    <section class="lg:mx-32 mx-12 mt-28">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">IKKE-VESTLIG FEMINISME</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Kritik og perspektiver</Heading>

          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst">
              Feminisme bliver ofte fremstillet ud fra et vestligt perspektiv såsom de fire ovenstående bølger, men i ikke-vestlige lande har bevægelsen sine egne dynamikker og unikke historiske udviklinger, der går længere tilbage end den vestlige
              feminisme. Ikke-vestlig feminisme tager udgangspunkt i feministiske værdier ud fra specifikke kulturer og udfordringer snarere end at kopiere vestlige modeller. Nogle kritiserer vestlig feminisme for at have et ”white-savior-komplex”
              for sin manglende forståelse for kulturel og historisk kontekst samt egen bias (Abu-Lughod 2013).
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Vi ser f.eks. den feministiske 4B-bevægelse i Sydkorea, som står for "bihon" (nej til ægteskab), "bichulsan" (nej til at få børn), "biyeonae" (nej til at date mænd) og "bisekseu" (nej til sex med mænd). Det er en opfordring til kvinder
              om at afvise traditionelle kønsroller og forventninger til kvinder i samfundet. Bevægelsen ser ægteskab som en institution, der primært gavner mænd, mens kvinder ender med at bære byrden af både lønarbejde og huslige opgaver. Bevægelsen
              er blevet populær blandt unge kvinder, især via sociale medier som TikTok (Globalnyt 2024).
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Kvinders kamp i Iran</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Et andet eksempel er Kvinde Liv Frihed-bevægelsen i Iran, som startede efter 22-årige Jina Mahsa Amini døde i det iranske moralpolitis varetægt den 16. september 2022. Bevægelsen kæmper for kvinders rettigheder og basale
              frihedsrettigheder i Iran. Demonstranter har trodset præstestyret med livet som indsats, mens regimet har svaret med vold, undertrykkelse og henrettelser. Trods regimets forsøg på at kvæle bevægelsen, fortsætter kampen for kvinders
              rettigheder og friheder i Iran (Amnesty 2025).
            </Text>
          </div>
          <div>
            <img src="/arm.svg" alt="" class="w-40 md:w-50 shrink-0 self-end md:self-auto md:mt-8" />
          </div>
        </div>
      </div>
    </section>
    <section class="lg:mx-32 mx-12 mt-28">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">HVORDAN KAN DU GØRE EN FORSKEL?</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Former for feministisk aktivisme</Heading>

          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"> Feminisme kommer i mange former og kan både udleves gennem klassisk aktivisme – som at skrive debatindlæg, arrangere demonstrationer eller samle underskrifter – og i hverdagsnære handlinger. </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Det kan være at italesætte sexisme eller racisme, rette brugen af forkerte pronominer, anbefale en feministisk bog eller dele sine egne erfaringer for at bryde tabuer. For nogle er det at leve autentisk i sig selv en feministisk kamp,
              særligt hvis ens kønsudtryk eller identitet udfordrer samfundets normer. Feministisk aktivisme kan også tage form gennem kunst, medier eller litteratur.
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Engagement & fællesskaber</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Den mest tilgængelige måde at engagere sig på er at starte i sin egen hverdag – ved at tilegne sig viden om ulighed og turde tage samtalen med dem omkring sig. Aktivisme kan være stor eller lille, og enhver indsats tæller. Det handler
              også om at tage ansvar for at skabe inkluderende rum og respektere dem, der kæmper deres egne feministiske kampe på deres egne præmisser.
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Man kan handle feministisk både alene og i fællesskab. Der kan være stor styrke i at finde ligesindede, der ønsker at engagere sig i feminismen – for eksempel gennem fællesskaber som KALDER ALLE UNGEs ambassadørnetværk.
            </Text>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
