---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Herosecondary from "../components/Herosecondary.astro";
import Quote from "../components/Quote.astro";
import Bubble from "../components/Bubble.astro";
import Infocard from "../components/Infocard.astro";
---

<MainLayout title="Kalder alle unge">
  <main>
    <section>
      <Herosecondary
        herotitle="FEMINISME"
        herotext_1="Der er mange misforståelser og myter, når det kommer til feminisme. Herunder kan du læse om, hvorfor det hedder feminisme, hvordan kampen for ligestilling har ændret sig, og hvordan man kan være feminist. "
        herotext_2="Du kan også læse lidt om den historiske udvikling, om ikke-vestlig feminisme, og om hvordan anti-feminisme truer tilkæmpede rettigheder for kvinder og minoriteter. "
      />
    </section>
    <section class="mt-16 lg:mx-32 mx-12 lg:mt-28">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> HVAD ER FEMINISME?</Heading>
        <div class="mt-4 lg:max-w-1/2">
          <Text> Feminisme handler om troen på, at alle mennesker skal have de samme muligheder — og om kampen for at fjerne de strukturer, der står i vejen. Det er både en historisk bevægelse og en nutidig kamp for reel ligestilling. </Text>
        </div>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-3 md:gap-10">
        <!-- Kolonne 1 -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium"> Feminisme historisk </Heading>

          <div class="mt-4 space-y-4">
            <Text teksttype="brødttekst"> Feminisme begyndte som en kamp for rettigheder. I 1800-tallet og begyndelsen af 1900-tallet kæmpede feminister for kvinders adgang til uddannelse, arbejde og politisk deltagelse. </Text>

            <Text teksttype="brødttekst"> Modstanden byggede ofte på “biologiske” argumenter, som fx idéen om at uddannelse kunne skade kvinders kroppe. </Text>

            <Text teksttype="brødttekst"> Disse tidlige kampe lagde fundamentet for den ligestilling, vi bygger videre på i dag. </Text>
          </div>
        </div>

        <!-- Kolonne 2 -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium"> Feminisme i dag </Heading>

          <div class="mt-4 space-y-4">
            <Text teksttype="brødttekst"> Nutidens feminisme favner bredere. I dag handler feminisme om reel ligestilling på tværs af køn, identitet, etnicitet, seksualitet og social baggrund. </Text>

            <Text teksttype="brødttekst"> Feminister peger også på, hvordan mænd og drenge møder egne ligestillingsudfordringer, og hvordan normer påvirker alle. </Text>

            <Text teksttype="brødttekst"> Kampen er derfor både social, kulturel og politisk — og mere inkluderende end nogensinde.</Text>
          </div>
        </div>

        <!-- Kolonne 3 -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium"> Som bevægelse </Heading>

          <div class="mt-4 space-y-4">
            <Text teksttype="brødttekst"> Feminisme er ikke én samlet ideologi, men en bevægelse med mange retninger og perspektiver. </Text>

            <Text teksttype="brødttekst"> Fælles for dem er ønsket om reel ligestilling og en kritik af de strukturer, der giver magt og privilegier til nogle grupper frem for andre.</Text>

            <Text teksttype="brødttekst"> Som bevægelse arbejder feminisme for, at alle mennesker skal kunne leve frit — uden at blive begrænset af køn, normer eller forudfattede forventninger.</Text>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-28 lg:mt-56 lg:mx-32 mx-12 uppercase">
      <div class="relative z-10">
        <Quote>Feminisme <br />er for<br />alle </Quote>
      </div>
      <div class="flex justify-end lg:-mt-90 -mt-7 relative z-0">
        <img src="heart.webp" alt="" class="w-180" />
      </div>
    </section>

    <section class="mt-28 lg:mx-32 mx-12 lg:mt-56">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> HVORFOR HEDDER DET “FEMINISME”?</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Navnets historiske rødder </Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Ordet feminisme stammer fra det latinske “femina” (kvinde) og udspringer historisk af kampen mod den ulighed, kvinder oplevede. I dag rummer feminisme også kampen for minoriteters rettigheder, men navnet giver stadig mening, fordi
              bevægelsen grundlæggende handler om at modarbejde undertrykkelsen af det feminine.</Text
            >
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst"> Alle mennesker har både maskuline og feminine træk, men samfundets forståelse af, hvilke egenskaber der anses som værdifulde, afhænger ofte af biologisk køn. </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Maskulinitet forbindes traditionelt med styrke, handlekraft og rationalitet, mens femininitet forbindes med omsorg, følelser og svaghed. Det ses fx i, hvordan omsorgsfag (sygepleje, pædagogik, SOSU) opfattes som “kvindelige”, og
              politibetjente eller elektrikere som “mandlige” (Bloksgaard 2010).
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Kønsnormer og ulighed</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Kønsnormer er uskrevne regler for, hvordan mænd og kvinder “forventes” at være. De ændrer sig over tid – fx var pink engang en drengefarve (CNN 2018). Men fordi samfundet historisk er præget af patriarkalske magtstrukturer, værdsættes
              maskuline egenskaber ofte højere end feminine (Hofstede 1980).
            </Text>
          </div>

          <div class="mb-4">
            <Text teksttype="brødttekst"
              >Det ses tydeligt i debatten om omsorgsarbejde. Arbejde, der forbindes med femininitet, er både lavere lønnet og mindre anerkendt – både i hjemmet og i job som sygepleje, pædagogik og SOSU (Holten 2024).
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst"
              >Feminisme handler derfor også om at give feminine værdier som omsorg, følelser og sårbarhed højere status. Det betyder, at både mænd og kvinder skal kunne udtrykke disse egenskaber uden at blive set som svage eller mindre værd.
            </Text>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-body-secondary">
      <div class="mt-28 lg:mt-56 mx-12 pt-16 pb-16 lg:pt-28 lg:pb-28 lg:mx-32">
        <div class="mb-12 lg:mb-20">
          <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> FEMINISME = LIGESTILLING</Heading>
          <div class="mt-4">
            <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium"> En bevægelse for, at alle køn skal have de samme muligheder og rettigheder.</Heading>
          </div>
        </div>
        <div>
          <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> FEMINISME ≠ KAMP MOD MÆND</Heading>
          <div class="mt-4">
            <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium"> Feminisme handler ikke om at tage noget fra mænd, men om at skabe retfærdighed og lige vilkår for alle.</Heading>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-28 lg:mx-32 mx-12 lg:mt-56">
      <div><Quote>VIDSTE DU AT?</Quote></div>
      <div class="mt-12">
        <div class="md:w-1/2">
          <Bubble variant="left"><Heading htmlheading="h3" size="medium" weight="medium">"Der er flere administrerende direktører i Danmark med navnet Lars eller Peter end der er kvindelige administrerende direktører.”</Heading></Bubble>
        </div>
        <div class="mt-28 md:w-1/2 ml-auto">
          <Bubble variant="right"><Heading htmlheading="h3" size="medium" weight="medium">"Der er flere administrerende direktører i Danmark med navnet Lars eller Peter end der er kvindelige administrerende direktører.”</Heading></Bubble>
        </div>
      </div>
    </section>
    <section class="mt-28 lg:mx-32 mx-12 lg:mt-56">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> NORMKRITIK</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Som del af feminismen</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >For mange feminister er kampen for ligestilling også en kamp mod kønsstereotype normer. Normkritik betyder at udfordre og stille spørgsmålstegn ved de normer, der definerer, hvad der anses som passende eller naturligt i et samfund.</Text
            >
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Når feminister arbejder for at bryde kønsstereotyper, handler det om at udvide handlingsrummet for alle – ikke at afskaffe maskulinitet eller femininitet, men at gøre flere måder at være menneske på lige accepterede.
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Normer kan ændres, og det bliver de heldigvis også, men det kan tage lang tid og kræve mange kampe (LGBT+ Danmark 2025). Da kvinder og mænd kæmpede for kvinders ret til uddannelse og adgang til arbejdsmarkedet, udfordrede de normen om,
              at kvinders rolle var i hjemmet. Da feminister kæmpede for en samtykkelov, var det en kamp for at ændre samfundets syn på voldtægt og retten til at bestemme over egen krop.
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Når normer brydes </Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Normkritik betyder, som ordet antyder, at man kritiserer normerne, som ofte er usynlige spilleregler i samfundet. Man kan synliggøre dem ved at stille spørgsmålstegn ved måden, tingene bliver gjort på. Eller man kan bryde normerne ved
              f.eks. at gøre noget, der ligger udenfor normerne – f.eks. at en mand tager makeup på, eller en kvinde ikke fjerner hår på kroppen.
            </Text>
          </div>

          <div class="mb-4">
            <Text teksttype="brødttekst">Der findes ingen lov, der forbyder disse handlinger, men normerne gør, at det ofte bliver bemærket, kommenteret eller udskældt. </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst"
              >Det er lettere at følge normerne, da man typisk belønnes med anerkendelse og accept, mens normbrud kan føre til afvisning eller kritik (Lodahl 2018). Mennesker, der falder udenfor normen, f.eks. kønsminoriteter og seksuelle
              minoriteter, er oftest særligt udsatte for diskrimination eller vold. F.eks. kan homoseksuelle mænd opleve, at deres blotte eksistens bliver set som en trussel mod traditionel maskulinitet (KØN 2020).
            </Text>
          </div>
        </div>
      </div>
      <div class="flex flex-col md:flex-row items-start justify-center mt-28 gap-10">
        <div class="flex justify-center md:justify-start w-full md:w-auto">
          <img src="/!.svg" alt="Udråbstegn" class="w-16 md:w-12 flex-shrink-0" />
        </div>
        <div class="max-w-xl text-left">
          <Text teksttype="brødtekst" weight="semibold">
            I 2023 samlede organisationen Lev og Lad Leve 1000 personlige vidnesbyrd om hadforbrydelser i bogen “Stop Hadet Nu”. Fortællingerne dokumenterer, hvordan personer, der bryder med kønsnormer, risikerer at blive råbt af, truet eller
            overfaldet, når man som mand f.eks. har makeup på i det offentlige rum (Stop Hadet Nu 2023).
          </Text>
        </div>
      </div>
    </section>
    <section class="bg-body-secondary">
      <div class="lg:mx-32 mx-12 mt-28 pt-16 pb-16 lg:pt-28 lg:pb-28 lg:mt-56">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">DERFOR BETYDER NORMER NOGET </Heading>
        <div class="mt-12 grid grid-cols-1 gap-10 text-center lg:grid-cols-3 lg:gap-20">
          <div>
            <div><Quote>17%</Quote></div>
            <div class="mt-4 pr-10 pl-10 lg:pr-0 lg:pl-0"><Text teksttype="brødtekst" weight="semibold">kvinder 15–25 år har oplevet chikane på arbejde (2 % mænd).</Text></div>
          </div>
          <div>
            <div><Quote>73%</Quote></div>
            <div class="mt-4 pr-10 pl-10 lg:pr-0 lg:pl-0"><Text teksttype="brødtekst" weight="semibold">af alle selvmord i Danmark begås af mænd  (Sundhedsstyrelsen 2024).</Text></div>
          </div>
          <div>
            <div><Quote>84%</Quote></div>
            <div class="mt-4 pr-10 pl-10 lg:pr-0 lg:pl-0"><Text teksttype="brødtekst" weight="semibold">af minoritetsetniske danskere har oplevet diskrimination det seneste år.</Text></div>
          </div>
        </div>
      </div>
    </section>
    <section class="mt-28 mx-12 lg:mx-32 lg:mt-56">
      <div class="lg:grid grid-cols-3">
        <div class="lg:col-span-2">
          <img src="hvorfor.svg" />
        </div>

        <!-- TEKST -->
        <div class="space-y-4 mt-8 lg:mt-0 lg:col-start-3">
          <Text>
            De fleste danskere går ind for ligestilling, men der er en tydelig forskel mellem kønnene. Over 70% af danske kvinder mener, at ligestillingen halter, mens næsten 20% af unge mænd mener, at den er gået for langt (Andersen 2022).
          </Text>
          <Text>
            Forskning viser dog, at ulighed fortsat er en realitet i Danmark. I en global måling af ligestilling ligger Danmark som nummer 23 ud af 146 lande, mens de øvrige nordiske lande ligger i top 5 (Global Gender Gap Report 2024). Det udfordrer
            forestillingen om Danmark som et foregangsland og viser behovet for fortsat fokus på reel ligestilling.</Text
          >

          <Text> Det er værd at bemærke, at rapporten kan kritiseres for vestlig bias og for primært at måle formel – og ikke altid reel – ligestilling. </Text>
        </div>
      </div>
      <div></div>
    </section>
    <section class="mt-28 mx-12 lg:mx-32 lg:mt-56">
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">FEMINISMENS HISTORIE</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <div class="">
            <Text teksttype="brødttekst"
              >Flere forskere peger på, at patriarkalske magtsystemer begyndte at dominere for ca. 8.000-10.000 år siden, da vi gik fra mere ligestillede jæger/samlersamfund til et hierarkisk landbrugssamfund. Her havde mænd ofte kontrol over
              ressourcer, beslutninger og over kvinder og børn (Reed 1975).
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <div class="">
            <Text teksttype="brødttekst"
              >Der har formodentligt været en form for feminisme lige så længe, som der har være undertrykkelse. Begrebet feminisme, som vi kender det i den vestlige verden, opstod dog i 1880'ernes Frankrig og har udviklet sig gennem fire
              hovedbølger, hvor hver bølge har fokuseret på forskellige aspekter af ligestilling (Danmarks Nationalleksikon 2024).
            </Text>
          </div>
        </div>
      </div>
      <div class="lg:grid lg:grid-cols-2 gap-10 mt-10 lg:mt-20">
        <div class="">
          <Infocard
            cardtitle="Første bølge"
            cardsubtitle="1800 – Tidlig 1900-tallet"
            cardimage="/b1.webp"
            cardimagealt="Hands on table"
            variant=""
            cardtext="I denne periode havde den feministiske kamp fokus på grundlæggende, juridiske rettigheder for kvinder, eksempelvis stemmeret, ejendomsret og adgang til uddannelse. Stemmeretten blev opnået i 1915 i Danmark efter mange års kamp fra kvindeorganisationer, heriblandt Dansk Kvindesamfund (Folketinget 2024).Denne kamp var ret fredelig i modsætning til andre steder. I Storbritannien kæmpede suffragetterne for kvinderettigheder. De brugte ofte militante taktikker såsom bombning af offentlige bygninger, sabotage af telefonledninger og afbrænding af politikernes hjem og ofrede livet for deres sag (Militant Suffragettes 2024)."
          />
        </div>
        <div class="lg:mt-40 mt-15">
          <Infocard
            cardtitle="Anden bølge "
            cardsubtitle="1960-1980"
            cardimage="/b2.webp"
            cardimagealt="Hands on table"
            variant=""
            cardtext="Anden bølge kendes som “Rødstrømpebevægelsen”, inspireret af den amerikanske socialistiske kvindebevægelse “the Redstockings“. Rødstrømperne fokuserede på sociale og kulturelle uligheder og kæmpede for ligeløn, reproduktive rettigheder som fri adgang til prævention og abort, samt bekæmpelse af sexisme og chikane i arbejdslivet og kønsbaseret vold. Bevægelsen satte også spørgsmålstegn ved traditionelle kønsroller og arbejdede for at ændre samfundets opfattelse af kvinders plads både i hjemmet og på arbejdsmarkedet (Danmarks Statistik 2012)."
          />
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10 lg:-mt-10 mt-15">
        <div>
          <Infocard
            cardtitle="Tredje bølge "
            cardsubtitle="1990-2000"
            cardimage="/b3.webp"
            cardimagealt="Hands on table"
            variant=""
            cardtext="Denne bølge opstod som en reaktion på de mangler, den nye generation af feminister syntes, den anden bølge havde. I Vesten havde feminismen taget udgangspunkt i hvide, heteroseksuelle, middel- og overklasse kvinder, og feminister fra den tredje bølge havde en bredere forståelse af feminisme, der inkluderede flere identitetsmarkører end køn, f.eks. etnicitet, seksuel orientering, klasse, kønsidentitet mm. Denne forståelse af feminisme kaldes intersektionel feminisme. Tredje bølge havde også en poststrukturalistisk fortolkning af køn og seksualitet, hvor de forstod køn og seksualitet som sociale konstruktioner, der blev skabt og formet af sprog og kultur frem for faste, biologisk bestemte kategorier (Butler 1990). "
          />
        </div>
        <div class="lg:mt-40 mt-15">
          <Infocard
            cardtitle="Fjerde bølge "
            cardsubtitle="2010-Nu"
            cardimage="/b4.webp"
            cardimagealt="Hands on table"
            variant=""
            cardtext="Den fjerde og nyeste, feministiske bølge er kendetegnet ved brugen af sociale medier til at fremme feminisme og adressere problemer som seksuel chikane, kropspositivitet og intersektionalitet. Bevægelser som #MeToo har spillet en central rolle i at sætte fokus på seksuel chikane og overgreb, og fjerde bølge-feminister arbejder for at skabe opmærksomhed omkring, hvordan forskellige former for diskrimination overlapper og påvirker hinanden. I denne bølge er der også et fokus på at reclaime det feminine (Kjølsen, Klæstrup & Andersen 2017)."
          />
        </div>
      </div>
    </section>
    <section class="mt-28 mx-12 lg:mx-32 lg:mt-56">
      <img src="/stadigfem.svg" alt="Feminisme illustration" class="w-full mt-28 lg:mt-56" />
    </section>
    <section class="mt-28 lg:mx-32 mx-12 lg:mt-56">
      <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">OFTE HØRTE PÅSTANDE</Heading>
      <div class="mt-12 lg:mt-28">
        <div class="md:w-1/2">
          <Bubble variant="left"
            ><Heading htmlheading="h3" size="medium" weight="medium">"Ligestilling er gået for langt."</Heading>
            <div class="mt-4">
              <Text teksttype="brødtekst"
                >Ligestilling handler om at skabe lige muligheder for alle, ikke om at "give mere" til én gruppe. F.eks. når mænd får mere barsel, og kvinder får adgang til lederstillinger, vinder hele samfundet – både økonomisk og socialt.
                Undersøgelser viser, at lande med høj ligestilling oplever øget livskvalitet og økonomisk vækst (World Economic Forum 2024). Filosofisk set kan ligestilling heller ikke "gå for langt," fordi det ultimative mål er at fjerne
                uretfærdigheder og sikre fuld lighed for alle. Modstanden mod ligestilling handler derfor ofte om frygten for forandring eller for at miste (ufortjente) fordele, ikke om lighedens rent faktiske konsekvenser (Crenshaw 1989).
              </Text>
            </div></Bubble
          >
        </div>
        <div class="mt-28 md:w-1/2 ml-auto">
          <Bubble variant="right"
            ><Heading htmlheading="h3" size="medium" weight="medium">"“Feminister hader mænd og vil bare bestemme over dem.” "</Heading>
            <div class="mt-4">
              <Text teksttype="brødtekst"
                >Et stort studie fra 2024 har bevist, at feminister ikke hader mænd og ikke ønsker mere magt end dem. Studiet dokumenterer, at feminister har samme overordnede positive holdning som ikke-feminister ift. mænd, og at feminister ønsker
                ligestilling og hverken mandehad eller overlegenhed. Den eneste forskel de fandt var, at feminister ikke var lige så godtroende overfor mænd (Ging 2024).
              </Text>
            </div></Bubble
          >
        </div>
        <div class="mt-28 md:w-1/2">
          <Bubble variant="left"
            ><Heading htmlheading="h3" size="medium" weight="medium">"…Men hvad med børneægteskaber i Indien?”</Heading>
            <div class="mt-4">
              <Text teksttype="brødtekst"
                >Når man taler om et ligestillingsproblem, bringes nogle gange andre og helt urelaterede problemer op. Denne argumentationstaktik hedder “whataboutism”, og er en måde at afspore en debat ved at skabe en falsk sammenligning, som
                antyder at man ikke kan løse flere problemer på en gang (Sørensen 2019). Den bedste strategi er at anerkende det andet problem, men holde fokus: "Ja, børneægteskaber i Indien er et alvorligt problem, men det ændrer ikke på, at vi også
                har udfordringer med ligestilling i Danmark, som vi kan og bør adressere". Man har jo heller aldrig droppet at lave en finanslov, fordi der er lande, som tjener færre penge end Danmark.
              </Text>
            </div></Bubble
          >
        </div>
      </div>
    </section>
    <section class="bg-body-secondary">
      <div class="lg:mx-32 mx-12 mt-28 pt-16 pb-16 lg:pt-28 lg:pb-28 lg:mt-56">
        <Quote>ANTI-<br />FEMINISME</Quote>
        <div class="lg:grid grid-cols-2 lg:gap-12">
          <div class="mt-4">
            <Text teksttype="brødtekst"
              >Anti-feminisme udspringer af en reaktion mod feministiske bevægelser, og søger mod ultra traditionelle kønsroller med udgangspunkt i ekstreme højrefløjsværdier. De afviser ideen om strukturelle uligheder mellem kønnene og glamouriserer
              et traditionelt syn på køn og kønshierarki. Internetfænomener som "trad wives" promoverer en romantiseret idé om kvinders primære rolle som underdanige hustruer og mødre, hvilket oftest betyder, at de bliver økonomisk afhængige af deres
              mænd. Nogle trad wife-fora taler også om, at kvinder bør acceptere utroskab og endda fysisk afstraffelse som ”spanking” fra deres mænd (The Guardian 2023). <br />
              <br />Vi ser også anti-feministiske figurer som Andrew Tate, der fremmer en maskulinitetskultur, som nedvurderer kvinder og opildner unge mænd til at modarbejde ligestilling (Ging 2019). Andrew Tate er pt. tiltalt for menneskehandel,
              voldtægt og organiseret kriminalitet i Rumænien, men ikke dømt (DR 2023).
            </Text>
          </div>
          <div class="mt-8 lg:mt-0">
            <Heading htmlheading="h1" size="xlarge" font="quote" weight="italic">POST- <br />FEMINISME</Heading>
            <div class="mt-4">
              <Text teksttype="brødtekst"
                >Postfeminisme, på den anden side, antyder, at feminisme er overflødig, fordi man mener, at ligestilling allerede er opnået. Her ignorerer man problemer som lønforskelle, kønsbaseret vold og diskrimination. Det kan betyde, at man
                fastholder uligheder og forhindrer kvinder og minoritetsgrupper i at opnå fuld deltagelse i samfundet (Banet-Weiser 2018).
              </Text>
            </div>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-28 mx-12 lg:mx-32 lg:mt-56">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">IKKE-VESTLIG FEMINISME</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Kritik og perspektiver</Heading>

          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst">
              Feminisme bliver ofte fremstillet ud fra et vestligt perspektiv såsom de fire ovenstående bølger, men i ikke-vestlige lande har bevægelsen sine egne dynamikker og unikke historiske udviklinger, der går længere tilbage end den vestlige
              feminisme. Ikke-vestlig feminisme tager udgangspunkt i feministiske værdier ud fra specifikke kulturer og udfordringer snarere end at kopiere vestlige modeller. Nogle kritiserer vestlig feminisme for at have et ”white-savior-komplex”
              for sin manglende forståelse for kulturel og historisk kontekst samt egen bias (Abu-Lughod 2013).
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Vi ser f.eks. den feministiske 4B-bevægelse i Sydkorea, som står for "bihon" (nej til ægteskab), "bichulsan" (nej til at få børn), "biyeonae" (nej til at date mænd) og "bisekseu" (nej til sex med mænd). Det er en opfordring til kvinder
              om at afvise traditionelle kønsroller og forventninger til kvinder i samfundet. Bevægelsen ser ægteskab som en institution, der primært gavner mænd, mens kvinder ender med at bære byrden af både lønarbejde og huslige opgaver. Bevægelsen
              er blevet populær blandt unge kvinder, især via sociale medier som TikTok (Globalnyt 2024).
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Kvinders kamp i Iran</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Et andet eksempel er Kvinde Liv Frihed-bevægelsen i Iran, som startede efter 22-årige Jina Mahsa Amini døde i det iranske moralpolitis varetægt den 16. september 2022. Bevægelsen kæmper for kvinders rettigheder og basale
              frihedsrettigheder i Iran. Demonstranter har trodset præstestyret med livet som indsats, mens regimet har svaret med vold, undertrykkelse og henrettelser. Trods regimets forsøg på at kvæle bevægelsen, fortsætter kampen for kvinders
              rettigheder og friheder i Iran (Amnesty 2025).
            </Text>
          </div>
          <div>
            <img src="/arm.svg" alt="" class="w-40 mt-8 md:w-50 shrink-0 self-end md:self-auto" />
          </div>
        </div>
      </div>
    </section>
    <section class="mt-28 lg:mt-56 lg:mx-32 mx-12 uppercase">
      <div class="relative z-10">
        <Quote>Feminisme er kærlighed i handling.</Quote>
      </div>
      <div class="flex justify-end lg:-mt-20 -mt-7 relative z-0">
        <img src="shirt.webp" alt="" class="w-180" />
      </div>
    </section>

    <section class="mt-28 mx-12 lg:mx-32 lg:mt-56">
      <!-- Overskrift -->
      <div class="mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold">HVORDAN KAN DU GØRE EN FORSKEL?</Heading>
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Former for feministisk aktivisme</Heading>

          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"> Feminisme kommer i mange former og kan både udleves gennem klassisk aktivisme – som at skrive debatindlæg, arrangere demonstrationer eller samle underskrifter – og i hverdagsnære handlinger. </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Det kan være at italesætte sexisme eller racisme, rette brugen af forkerte pronominer, anbefale en feministisk bog eller dele sine egne erfaringer for at bryde tabuer. For nogle er det at leve autentisk i sig selv en feministisk kamp,
              særligt hvis ens kønsudtryk eller identitet udfordrer samfundets normer. Feministisk aktivisme kan også tage form gennem kunst, medier eller litteratur.
            </Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Engagement & fællesskaber</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst"
              >Den mest tilgængelige måde at engagere sig på er at starte i sin egen hverdag – ved at tilegne sig viden om ulighed og turde tage samtalen med dem omkring sig. Aktivisme kan være stor eller lille, og enhver indsats tæller. Det handler
              også om at tage ansvar for at skabe inkluderende rum og respektere dem, der kæmper deres egne feministiske kampe på deres egne præmisser.
            </Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">
              Man kan handle feministisk både alene og i fællesskab. Der kan være stor styrke i at finde ligesindede, der ønsker at engagere sig i feminismen – for eksempel gennem fællesskaber som KALDER ALLE UNGEs ambassadørnetværk.
            </Text>
          </div>
        </div>
      </div>
    </section>
    <section class="bg-body-tertiary -mb-20">
      <div class="mt-28 mx-12 pt-16 pb-16 lg:pt-28 lg:pb-28 lg:mx-32 lg:mt-56">
        <div class="lg:grid grid-cols-2">
          <div class="flex justify-center lg:justify-end lg:pr-10"><img src="/handsheart.svg" alt="Ikon med hjerte og hænder" /></div>
          <div class="mt-8">
            <div class="flex justify-start">
              <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">VÆR EN DEL AF FREMTIDEN, <br />BLIV AMBASSADØR</Heading>
            </div>
            <div class="flex justify-start mt-8">
              <Button>Læs mere</Button>
            </div>
          </div>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
