---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Infocard from "../components/Infocard.astro";
import Quote from "../components/Quote.astro";
---

<MainLayout title="Kalder alle unge">
  <main class="mt-10">
    <section class="lg:mx-32 mx-12">
      <!-- Overskrift -->
      <div class="flex flex-col md:flex-row md:justify-between md:items-end mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> VI KALDER ALLE UNGE! </Heading>

        <img src="/megafon.svg" alt="" class="w-40 md:w-50 shrink-0 self-end md:self-auto" />
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Giv unge en stærkere stemme </Heading>
          <div class="mb-4">
            <Text teksttype="brødttekst">KALDER ALLE UNGE giver unge en større stemme i ligestillingsdebatten. Vi hjælper dem med at deltage i debatter, skrive indlæg, holde taler og håndtere samtaler om ligestilling i hverdagen.</Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">Derudover udvikler vi samtaleværktøjer, videnspakker og et netværk af ligestillingsambassadører, der kan udfolde deres aktivisme på deres egen måde.</Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">Et fællesskab for ligestilling</Heading>
          <div class="mb-4">
            <Text teksttype="brødttekst">Hos KALDER ALLE UNGE arbejder vi for en bred forståelse af ligestilling, hvor alle har samme muligheder uanset køn, seksualitet, etnicitet, religion, alder eller handicap.</Text>
          </div>

          <div class="mb-4">
            <Text teksttype="brødttekst">Her får unge støtte, netværk og inspiration til at kæmpe imod ulighed og skabe forandring i deres egen hverdag.</Text>
          </div>
        </div>
      </div>
    </section>

    <section class="lg:mx-32 mx-12">
      <Quote>Unge viser vejen til ligestilling.</Quote>
    </section>

    <section class="mt-32 lg:mx-32 mx-12">
      <div class="lg:mb-10 mb-5">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> UDFORSK OG ENGAGER DIG</Heading>
      </div>
      <div class="lg:grid lg:grid-cols-2 gap-10">
        <div>
          <Infocard
            cardtitle="Events"
            cardimage="/hands.png"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="KALDER ALLE UNGE afholder events rundt om i landet, der giver unge ny viden og inspiration til at tage del i ligestillingsdebatten. "
          />
        </div>
        <div class="lg:mt-40 mt-15">
          <Infocard
            cardtitle="Værktøjer"
            cardimage="/hands.png"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="Her er en række samtaleværktøjer, du kan bruge til starte samtaler om ligestilling med venner og familie eller større grupper. Der er også individuelle refleksionsøvelser, og øvelser, hvor man i fællesskab kan skabe løsninger på konkrete ligestillingsproblemer."
          />
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10 lg:-mt-25 mt-15">
        <div>
          <Infocard
            cardtitle="Bliv ambassadør"
            cardimage="/hands.png"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="KALDER ALLE UNGE etablerer et ambassadørnetværk, hvor unge kan udfolde deres aktivistiske evner og sætte deres præg på debatten."
          />
        </div>
        <div class="lg:mt-40 mt-15">
          <Infocard
            cardtitle="Viden om ligestilling"
            cardimage="/hands.png"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="KALDER ALLE UNGE udvikler værktøjer og videnspakker, der åbner op for dialogen om ligestillingsemner og styrker unges engagement."
          />
        </div>
      </div>
    </section>
  </main>
</MainLayout>
