---
import MainLayout from "../layouts/MainLayout.astro";
import Link from "../components/Link.astro";
import Heading from "../components/Heading.astro";
import Text from "../components/Text.astro";
import Button from "../components/Button.astro";
import Infocard from "../components/Infocard.astro";
import Quote from "../components/Quote.astro";
import Bubble from "../components/Bubble.astro";
---

<MainLayout title="Kalder alle unge">
  <main class="mt-10">
    <section class="lg:mx-32 mx-12">
      <!-- Overskrift -->
      <div class="flex flex-col md:flex-row md:justify-between md:items-end mb-12">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> VI KALDER ALLE UNGE! </Heading>

        <img src="/megafon.svg" alt="" class="w-40 md:w-50 shrink-0 self-end md:self-auto" />
      </div>

      <!-- Indhold -->
      <div class="flex flex-col gap-12 md:grid md:grid-cols-2">
        <!-- Venstre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Giv unge en stærkere stemme </Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst">KALDER ALLE UNGE giver unge en større stemme i ligestillingsdebatten. Vi hjælper dem med at deltage i debatter, skrive indlæg, holde taler og håndtere samtaler om ligestilling i hverdagen.</Text>
          </div>
          <div class="mb-4">
            <Text teksttype="brødttekst">Derudover udvikler vi samtaleværktøjer, videnspakker og et netværk af ligestillingsambassadører, der kan udfolde deres aktivisme på deres egen måde.</Text>
          </div>
        </div>

        <!-- Højre -->
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Et fællesskab for ligestilling</Heading>
          <div class="mb-4 mt-4">
            <Text teksttype="brødttekst">Hos KALDER ALLE UNGE arbejder vi for en bred forståelse af ligestilling, hvor alle har samme muligheder uanset køn, seksualitet, etnicitet, religion, alder eller handicap.</Text>
          </div>

          <div class="mb-4">
            <Text teksttype="brødttekst">Her får unge støtte, netværk og inspiration til at kæmpe imod ulighed og skabe forandring i deres egen hverdag.</Text>
          </div>
        </div>
      </div>
    </section>

    <section class="mt-28 lg:mt-48 lg:mx-32 mx-12 uppercase">
      <div class="relative z-10">
        <Quote>Unge viser vejen til ligestilling.</Quote>
      </div>
      <div class="flex justify-end lg:-mt-20 -mt-7 relative z-0">
        <img src="signs.webp" alt="" class="w-150" />
      </div>
    </section>

    <section class="mt-28 lg:mt-56 lg:mx-32 mx-12">
      <div class="lg:mb-10 mb-5">
        <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> UDFORSK OG ENGAGER DIG</Heading>
      </div>
      <div class="lg:grid lg:grid-cols-2 gap-10">
        <div>
          <Infocard
            cardtitle="Events"
            cardimage="/party.webp"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="KALDER ALLE UNGE afholder events rundt om i landet, der giver unge ny viden og inspiration til at tage del i ligestillingsdebatten. "
          />
        </div>
        <div class="lg:mt-40 mt-15">
          <Infocard
            cardtitle="Værktøjer"
            cardimage="/hands.png"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="Her er en række samtaleværktøjer, du kan bruge til starte samtaler om ligestilling med venner og familie eller større grupper. Der er også individuelle refleksionsøvelser, og øvelser, hvor man i fællesskab kan skabe løsninger på konkrete ligestillingsproblemer."
          />
        </div>
      </div>

      <div class="lg:grid lg:grid-cols-2 gap-10 lg:-mt-25 mt-15">
        <div>
          <Infocard
            cardtitle="Bliv ambassadør"
            cardimage="/hug.webp"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="KALDER ALLE UNGE etablerer et ambassadørnetværk, hvor unge kan udfolde deres aktivistiske evner og sætte deres præg på debatten."
          />
        </div>
        <div class="lg:mt-40 mt-15">
          <Infocard
            cardtitle="Viden om ligestilling"
            cardimage="/signs.webp"
            cardimagealt="Hands on table"
            url="/ambassador"
            cardtext="KALDER ALLE UNGE udvikler værktøjer og videnspakker, der åbner op for dialogen om ligestillingsemner og styrker unges engagement."
          />
        </div>
      </div>
    </section>

    <section class="bg-body-secondary mt-28 lg:mt-56 lg:pt-20 pt-15 lg:pb-40 pb-20 lg:px-32 px-12">
      <div class="bg-body-secondary py-5">
        <div class="uppercase">
          <Heading htmlheading="span" size="large" font="heading" color="primary" weight="bold">
            <span class="font-quote font-black italic">1</span> ud af <span class="font-quote font-black italic">4</span> unge i Europa mener ligestilling er en vigtig værdi
          </Heading>
        </div>
      </div>

      <div class="lg:mb-30 mb-15">
        <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium">Er du med til at løfte antallet?</Heading>
      </div>
      <div class="lg:grid lg:grid-cols-12 gap-10 mx-auto">
        <img src="infografik.svg" alt="" class="col-span-9" />
        <img src="signgrafik.svg" alt="" class="col-span-3 lg:block hidden" />
      </div>
    </section>

    <!-- BILD + BUBBLE SEKTION -->
    <section class="">
      <div class="relative w-full">
        <!-- bakgrundsbild -->
        <img src="/hug.webp" alt="people hugging" class="lg:w-full lg:h-auto object-cover h-130" />

        <!-- BUBBLE -->
        <div class="absolute left-12 top-16 lg:left-32 lg:top-28 z-20 lg:max-w-lg max-w-sm">
          <Bubble><Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="bold">ER I KLAR TIL AT FORME FREMTIDEN SAMMEN?</Heading></Bubble>
        </div>
      </div>

      <div class="ml-auto w-fit -mt-50 relative z-30 lg:px-32 px-12">
        <img src="/sittinggroup.webp" alt="group sitting on sofa" />
      </div>
    </section>

    <section class="mt-28 mb-28 lg:mt-56 lg:mb-56 lg:mx-32 mx-12">
      <div class="uppercase mb-10">
        <Quote>Gør en forskel</Quote>
      </div>
      <div class="flex lg:flex-row flex-col max-w-4xl ml-auto gap-10">
        <img src="and.svg" alt="&" class="w-80" />
        <div>
          <Heading htmlheading="h3" size="medium" font="heading" color="primary" weight="medium"> Bliv ambassadør</Heading>
          <div class="my-5">
            <Text
              >Som ambassadør bliver du en del af et engageret fællesskab af unge, der arbejder for ligestilling, trygge fællesskaber og stærke ungestemmer. Du får mulighed for at udvikle dine kompetencer og inspirere andre til at tage del i
              fællesskabet.
            </Text>
          </div>
          <div class="mb-10">
            <Text>Som ambassadør står du ikke alene - du bliver en del af et netværk, der støtter hinanden og arbejder sammen om at skabe plads til flere.</Text>
          </div>
          <Button href="/ambassador">Læs mere</Button>
        </div>
      </div>
    </section>
  </main>
</MainLayout>
