---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Ligestillningcard from "../components/Ligestillningcard.astro";
import Herosecondary from "../components/Herosecondary.astro";
---

<MainLayout title="Kalder alle unge">
  <main>
    <section>
      <Herosecondary
        herotitle="VIDEN OM LIGESTILLING"
        herotext_1="Samtaler om ligestilling kan være fyldt med myter og påstande. Derfor har vi udviklet en række videnspakker, hvor du finder viden om ligestillingsemner som abort, feminisme, LGBTQ+ og meget mere."
        herotext_2="KALDER ALLE UNGEs videnspakker er baseret på viden frem for holdninger, og giver dig pålidelig og faktabaseret indsigt. Emnerne er udvalgt på baggrund af over 800 unges interesser indenfor ligestilling."
      />
    </section>
    <section class="lg:mx-32 mx-12 mt-28">
      <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> BLIV KLOGERE PÅ... </Heading>

      <section class="lg:grid lg:grid-cols-3 gap-7">
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>

        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>

        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
      </section>
    </section>
  </main>
</MainLayout>
