---
import MainLayout from "../layouts/MainLayout.astro";
import Heading from "../components/Heading.astro";
import Ligestillningcard from "../components/Ligestillningcard.astro";
import Herosecondary from "../components/Herosecondary.astro";
import Instagram from "../components/Instagram.astro";
import Form from "../components/Form.astro";
import Infocard from "../components/Infocard.astro";
---

<MainLayout title="Kalder alle unge">
  <main>
    <section>
      <Herosecondary
        herotitle="VIDEN OM LIGESTILLING"
        herotext_1="Samtaler om ligestilling kan være fyldt med myter og påstande. Derfor har vi udviklet en række videnspakker, hvor du finder viden om ligestillingsemner som abort, feminisme, LGBTQ+ og meget mere."
        herotext_2="KALDER ALLE UNGEs videnspakker er baseret på viden frem for holdninger, og giver dig pålidelig og faktabaseret indsigt. Emnerne er udvalgt på baggrund af over 800 unges interesser indenfor ligestilling."
      />
    </section>
    <section class="lg:mx-32 mx-12 mt-28">
      <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> BLIV KLOGERE PÅ... </Heading>

      <section class="lg:grid lg:grid-cols-3 gap-7">
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>

        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>

        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
        <div>
          <Ligestillningcard cardtitle="KROPSIDEALER" cardimage="/feminisme.png" cardimagealt="Hands on table" url="/ambassador" cardtext="Mangfoldige kroppe" />
        </div>
      </section>
    </section>

    <Form />

    <Infocard
      cardtitle="Værktøjer"
      cardimage="/hands.png"
      cardimagealt="Hands on table"
      url="/ambassador"
      variant=""
      cardtext="Her er en række samtaleværktøjer, du kan bruge til starte samtaler om ligestilling med venner og familie eller større grupper. Der er også individuelle refleksionsøvelser, og øvelser, hvor man i fællesskab kan skabe løsninger på konkrete ligestillingsproblemer."
    />
    <section>
      <Instagram />
    </section>
  </main>
</MainLayout>
