---
const { variant = "left" } = Astro.props;

const bubbleStyling = "font-body text-left p-card relative overflow-visible bg-cards-tertiary";

const variantClasses = {
  left: "",
  right: "",
};
---

<div class:list={[bubbleStyling, variantClasses[variant]]}>
  <slot />

  <!-- TAIL LEFT -->
  {variant === "left" && <img src="/tailleft.svg" alt="" class="absolute lg:-bottom-18 -bottom-10 left-0 lg:w-28 w-20 pointer-events-none select-none" />}

  <!-- TAIL RIGHT -->
  {variant === "right" && <img src="/tailright.svg" alt="" class="absolute lg:-bottom-18 -bottom-10 right-0 lg:w-28 w-20 pointer-events-none select-none " />}
</div>
