---
// Henter parametrene fra Astro.props
const { variant = "primary", size = "large", shadow = "noeffect" } = Astro.props;

//Definer den styling (Tailwind classes, der gør sig gældende for alle knapper)
const buttonStyling = "font-heading rounded-full";

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige varianter
const variantClasses = {
  primary: "bg-button-primary-default active:bg-button-primary-active hover:bg-button-primary-hover text-text-button-primary " /* border-primary-500 */,
  secondary: " border-2 border-button-secondary-default active:border-button-secondary-active hover:border-button-secondary-hover text-text-button-primary hover:text-text-button-secondary" /* border-secondary-500 */,
  tertiary: "bg-button-tertiary-default active:bg-button-tertiary-active  hover:bg-button-tertiary-hover text-text-button-primary" /* border-secondary-500 */,
  quaternary: "bg-button-quaternary-default active:bg-button-quaternary-active  hover:bg-button-quaternary-hover text-text-button-primary" /* border-secondary-500 */,
};

//Definer den styling (Tailwind classes), der gør sig gældende for de forskelligeog størrelser.
const sizeClasses = {
  large: "lg:text-cta-large  p-button-large",
  small: "text-cta-small p-button-small",
};

const stylingClasses = {
  effect: "shadow-lg",
  noeffect: "",
};
---

<!--Sæt classes for den pågældende knap sammen ved hjælp af Astros class:list -->
<button class:list={[buttonStyling, variantClasses[variant], sizeClasses[size], stylingClasses[shadow]]}><slot /></button>
