---
import Heading from "./Heading.astro";
import Link from "./Link.astro";
import Text from "./Text.astro";
---

<footer class="bg-footer-primary text-text-secondary relative z-10">
  <div class="container mx-auto lg:px-0 px-margin-mobile py-section-mobile flex flex-col lg:gap-grid-gap-desktop gap-grid-gap-mobile lg:flex-row lg:justify-between">
    <!-- KONTAKT OS -->
    <div class="max-w-md">
      <div class="lg:mb-h3-desktop mb-h3-mobile">
        <Heading htmlheading="h3" size="small" color="secondary">KONTAKT OS</Heading>
      </div>
      <div>
        <Text color="secondary">
          Niels Hemmingsens Gade 10 <br />
          1153 København<br />
          CVR: 53361919
        </Text>
      </div>
      <div class="lg:mb-p-desktop mb-p-mobile">
        <Text color="secondary">sekretariat@danskkvindesamfund.dk</Text>
      </div>
      <div class="lg:mb-p-desktop mb-p-mobile">
        <Text color="secondary">
          +45 33157837 - Sekretariat <br />
          +45 21807501 - Presse
        </Text>
      </div>
      <div class="lg:mb-p-desktop mb-p-mobile">
        <Text color="secondary"> Kan du se samarbejdsmuligheder, er det netop din by vi skal afholde events i, eller vil du høre mere når vi starter ambassadørnetværket op? </Text>
      </div>
      <div class="lg:mb-p-desktop mb-p-mobile">
        <Text color="secondary"> Så kontakt Louise Kjølsen eller Julie Lykke Nielsen, der er projektledere på KALDER ALLE UNGE. </Text>
      </div>
    </div>

    <!-- STØTTE -->
    <div class="max-w-md">
      <div class="lg:mb-h3-desktop mb-h3-mobile">
        <Heading htmlheading="h3" size="small" color="secondary">STØTTE</Heading>
      </div>
      <div class="lg:mb-p-desktop mb-p-mobile">
        <Text color="secondary"> Projektet “KALDER ALLE UNGE: Nye veje til demokratisk deltagelse i ligestilling” er muliggjort med støtte fra Tuborgfondet i 2024-2026. </Text>
      </div>
      <img src="/tuborgfonden.svg" alt="Tuborgfonden logo" class="lg:w-40 w-30 h-auto" />
    </div>

    <!-- SOME + LOGO -->
    <div class="max-w-md">
      <div class="flex gap-grid-gap-small">
        <img src="/instagram.svg" alt="Instagram" class="max-w-full h-auto" />
        <img src="/facebook.svg" alt="Facebook" class="max-w-full h-auto" />
        <img src="/linkedin.svg" alt="LinkedIn" class="max-w-full h-auto" />
      </div>
      <img src="/logo.svg" alt="logo" class="lg:w-40 w-30 h-auto mt-section-mobile" />
      <div class="lg:mt-h3-desktop mt-h3-mobile">
        <a href=" "><Heading htmlheading="h3" size="small" color="secondary">Dansk <br /> Kvindesamfund</Heading></a>
      </div>
    </div>
  </div>
</footer>
