---
const pathname = new URL(Astro.request.url).pathname;
const currentPath = pathname.slice(1); // remove the first "/"
import Button from "./Button.astro";
import Link from "./Link.astro";
import Text from "./Text.astro";
---

<header x-data="{ showmenu: false }" class="">
  <div id="navbar" class="p-10 flex flex-row justify-between items-center bg-black">
    <!-- BURGER MENY KNAPP-->
    <button id="burgermenu" class="pr-30" x-on:click="showmenu = !showmenu">
      <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="white" class="size-15">
        <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5"></path>
      </svg>
    </button>
    <!-- LOGO -->
    <div id="logo" class="lg:w-35 lg:h-35 w-20 h-20">
      <a href="/">
        <img src="/logo.svg" alt="logo" class="hover:animate-jump hover:animate-twice" />
      </a>
    </div>

    <div class="hidden lg:block">
      <a href="/ambassador">
        <Button variant="tertiary" size="large">Bliv ambassadør</Button>
      </a>
    </div>
  </div>

  <!-- Samma menu för ALLA skärmstorlekar -->
  <nav id="mobilmenu" class="bg-hero-primary flex flex-col content-left px-10 pb-25 font-quote lg:text-4xl text-3xl" x-show="showmenu" x-transition x-on:click="showmenu = false" x-on:click.outside="showmenu = false">
    <ul class="text-text-secondary">
      <li class="py-3 hover:text-text-quaternary italic font-black">
        <a href="/ambassador/" class={currentPath === "" ? " font-black" : ""}>BLIV AMBASSADØR</a>
      </li>
      <li class="py-3 hover:text-text-quaternary italic font-black">
        <a href="/" class={currentPath === "" ? " font-black" : ""}>EVENTS</a>
      </li>
      <li class="py-3 hover:text-text-quaternary italic font-black">
        <a href="/" class={currentPath === "" ? " font-black" : ""}>VÆRKTØJER</a>
      </li>
      <li class="py-3 hover:text-text-quaternary italic font-black">
        <a href="/ligestilling/" class={currentPath === "" ? " font-black" : ""}>VIDEN OM LIGESTILLING</a>
      </li>
      <li class="pt-12 hover:text-text-tertiary font-heading">
        <a href="/komponentbibliotek/" class={currentPath === "" ? " font-bold" : ""}>Dansk <br />Kvindesamfund</a>
      </li>
    </ul>
  </nav>
</header>
