---
import Heading from "./Heading.astro";
import Text from "./Text.astro";
---

<section class="bg-body-tertiary mt-32 overflow-hidden lg:-mb-40 -mb-25 relative z-0">
  <div class="lg:mx-32 mx-12 py-25">
    <div class="lg:mb-10 mb-5 uppercase">
      <Heading htmlheading="h2" size="large" font="heading" color="primary" weight="bold"> Følg os på Instagram </Heading>
    </div>
    <Text teksttype="brødttekst" class="text-center mb-10"> Følg os @kalderalleunge, og vær med til at styrke unges stemme i ligestillingsdebatten.</Text>
  </div>

  <div class="flex -gap-40 lg:-mt-0 -mt-5">
    <img src="/instagram1.webp" alt="Instagram billede 1" class="w-full h-auto object-cover rotate-4" />
    <img src="/instagram2.webp" alt="Instagram billede 2" class="w-full h-auto object-cover -rotate-3" />
    <img src="/instagram3.webp" alt="Instagram billede 3" class="w-full h-auto object-cover rotate-1" />
    <img src="/instagram4.webp" alt="Instagram billede 4" class="w-full h-auto object-cover -rotate-8" />
    <img src="/instagram5.webp" alt="Instagram billede 5" class="w-full h-auto object-cover rotate-9" />
  </div>
</section>
