---
// Henter parametrene fra Astro.props
const { teksttype = "brødtekst", weight = "regular", font = "body", color = "primary" } = Astro.props;

//Definer den styling (Tailwind classes), der gør sig gældende for de forskellige størrelser.
const sizeClasses = {
  brødtekst: "lg:text-desktop-p text-mobile-p",
  hero: " lg:text-desktop-p-hero text-mobile-p-hero",
};

const stylingClasses = {
  regular: "font-normal",
  semibold: "font-semibold",
  medium: "font-medium",
};

const fontClasses = {
  body: "font-body",
};

const colorClasses = {
  primary: "text-text-primary",
  secondary: "text-text-secondary",
  hover: "text-text-secondary hover:text-text-primary",
};
---

<p class:list={[sizeClasses[teksttype], stylingClasses[weight], fontClasses[font], colorClasses[color]]}><slot /></p>
